doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title I Love My City
        link(rel="stylesheet", href="/external/bootstrap/css/bootstrap.min.css")
        script(src="//use.edgefonts.net/lobster-two.js")
        link(rel="stylesheet", href="/css/site.css")
        link(rel="icon", href="/images/favicon.png", type="image/x-icon")
    body